<div class="modal fade" id="editShelfModal" tabindex="-1" aria-labelledby="editShelfModalLabel" aria-hidden="true"
     th:fragment="editShelfModal">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editShelfModalLabel">Edit Shelf</h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <form id="editNewShelfForm" class="row" th:action="@{'/shelf/update/' + ${shelfWh.id}}" method="post"
                              enctype="multipart/form-data" th:object="${shelfWh}">
                            <div class="form-group col-md-12 mb-0">
                                <fieldset class="bg-dark-ui">
                                    <legend>WarehouseID</legend>
                                    <select class="form-control form-select" th:field="*{warehouseId}"
                                            name="warehouseId">
                                        <option value="">Select warehouse</option>
                                        <option th:each="warehouses : ${listWarehouse}"
                                                th:value="${warehouses.id}"
                                                th:text="${warehouses.name}"></option>
                                    </select>
                                </fieldset>
                            </div>
                            <div class="form-group col-md-12">
                                <fieldset>
                                    <legend>Shelf ID:</legend>
                                    <input type="text" class="form-control custom-file-input" th:field="*{id}"
                                           name="shelfId">
                                </fieldset>
                            </div>
                            <div class="form-group col-md-12">
                                <fieldset>
                                    <legend>Name:</legend>
                                    <input type="text" class="form-control" th:field="*{name}" name="shelfName">
                                </fieldset>
                            </div>
                            <div class="form-group col-md-12">
                                <fieldset>
                                    <legend>Number of stage:</legend>
                                    <input type="text" class="form-control pe-5" th:field="*{stageNumber}"
                                           name="stageNumber">
                                </fieldset>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:void(0)" onclick="document.getElementById('editNewShelfForm').submit();">
                    <button type="button" class="btn btn-success">Edit</button>
                </a>
                <a href="javascript:void(0)" data-bs-dismiss="modal">
                    <button type="button" class="btn btn-danger">Close</button>
                </a>
            </div>
        </div>
    </div>
</div>