<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}"/>

    <link rel="stylesheet" th:href="@{/css/fontawesome.css}"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-icons.css}"/>

    <link rel="stylesheet" th:href="@{/css/datatable/table.css}"/>

    <link rel="stylesheet" th:href="@{/css/main/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/main/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/main/grid.css}"/>
    <link rel="stylesheet" th:href="@{/css/main/form.css}"/>
    <link rel="stylesheet" th:href="@{/css/main/food.css}"/>
    <link rel="stylesheet" th:href="@{/css/main/cart.css}"/>
</head>
<body>
<div th:replace="common/navbar :: navbar"></div>
<div th:replace="common/footer :: footer"></div>
</body>
</html>