<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reader/Writer</title>
    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}"/>
</head>
<body>
<div th:replace="common/navbar :: navbar"></div>
<form action="#" th:action="@{/readerWriter/save}" th:object="${readerWriterWh}" method="post">
    <table>
        <tr>
            <td>Warehouse:</td>
            <td>
                <select th:field="*{warehouseId}">
                    <option value="">Select warehouse</option>
                    <option th:each="listWarehouse : ${warehouse}"
                            th:value="${listWarehouse.id}"
                            th:text="${listWarehouse.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Reader/Writer ID:</td>
            <td><input type="text" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>IP Address:</td>
            <td><input type="text" th:field="*{ipAddress}"></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" th:field="*{address}"></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="Save" /></td>
        </tr>
    </table>
</form>
<div th:replace="common/footer :: footer"></div>
</body>
</html>