<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shelf</title>
    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}"/>
</head>
<body>
<div th:replace="common/navbar :: navbar"></div>
<form action="#" th:action="@{/shelf/save}" th:object="${shelfWh}" method="post">
    <table>
        <tr>
            <td>Warehouse:</td>
            <td>
                <select th:field="*{warehouseId}">
                    <option value="">Select warehouse</option>
                    <option th:each="warehouses : ${warehouse}"
                            th:value="${warehouses.id}"
                            th:text="${warehouses.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Shelf ID:</td>
            <td><input type="text" th:field="*{id}"></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"></td>
        </tr>
        <tr>
            <td>Number of stage:</td>
            <td><input type="text" th:field="*{stageNumber}"></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="Save" /></td>
        </tr>
    </table>
</form>
<div th:replace="common/footer :: footer"></div>
</body>
</html>