<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form warehouse</title>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>

    <link rel="stylesheet" th:href="@{/css/fontawesome.css}"/>

    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap-icons.css}"/>

    <link rel="stylesheet" th:href="@{/css/datatable/table.css}"/>

    <link rel="stylesheet" th:href="@{/css/main/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/main/common.css}"/>
    <link rel="stylesheet" th:href="@{/css/main/grid.css}"/>
    <link rel="stylesheet" th:href="@{/css/main/form.css}"/>
    <link rel="stylesheet" th:href="@{/css/main/food.css}"/>
    <link rel="stylesheet" th:href="@{/css/main/cart.css}"/>
</head>
<body>
<div th:replace="~{common/navbar :: navbar}"></div>

<div class="panel m-mt-20">
    <div class="row datatable">
        <div class="col-lg-12">
            <table id="order-history-table" class="table" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th class="text-center">WarehouseID</th>
                <th class="text-center">Name</th>
                <th class="text-center">Address</th>
                <th class="text-center">Thêm</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="warehouse : ${listWarehouse}">
                <td class="text-center" th:text="*{warehouse.id}"></td>
                <td class="text-center" th:text="*{warehouse.name}"></td>
                <td class="text-center" th:text="*{warehouse.address}"></td>
                <td class="text-center">
                    <button type="button" class="btn btn-warning">Edit</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                </td>
            </tr>
            </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 mb-3">
        <a href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#addWarehouseModal">
            <button type="button" class="btn btn-success">Add</button>
        </a>
    </div>
</div>
<div th:replace="common/footer :: footer"></div>
<div th:replace="modal/add/addWarehouseModal :: addWarehouseModal"></div>
<script th:src="@{/js/all.js}"></script>
<script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/datatable/jquery.min.js}"></script>
<script th:src="@{/js/datatable/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/datatable/datatables.vietnamese.js}"></script>
</body>
</html>