.cart table .icon-circle img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}

.cart table tr th {
  padding-top: 8px;
  padding-bottom: 16px;
}

.cart .store-name {
  font-size: 20px;
  font-weight: var(--font-weight-4);
  margin-bottom: 0;
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-group .totalMoney {
  font-weight: 400;
}

.btn-group .totalMoney span {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.btn-cart {
  margin-left: 12px;
  margin-right: 12px;
}

.order-success h3 {
  font-size: 28px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
}

.order-success h3 i {
  font-size: 100px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.order-success .btn-group-3 a {
  width: 200px;
}

@media (max-width: 991.98px) {
  .order-success .btn-group-3 a {
    margin: 0 6px 16px !important;
  }
}