@charset "utf-8";

/**/

.col-left,
.col-right {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  padding-bottom: 50px;
  min-height: 100vh;
  height: 100%;
}

.col-left {
  position: relative;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.col-left:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 2000px;
  right: 50%;
  transform: translateX(50%);
  background: var(--primary-background);
}

.col-right {
  position: relative;
  padding-left: 30px !important;
}

.col-right:before {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  left: -10px;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100vw;
  background-color: var(--body-background);
}

.form-row>.col,
.form-row>[class*=col-] {
  padding-right: .5rem;
  padding-left: .5rem;
}

.container-fluid {
  padding-right: 10px;
  padding-left: 10px;
}

.container {
  padding-right: 10px;
  padding-left: 10px;
}

.row {
  margin-right: -10px;
  margin-left: -10px;
}

@media (max-width: 1400px) {
  .col-left {
    padding-left: 20px !important;
  }
}

@media (max-width: 1200px) {
  .col-left {
    padding-left: 0 !important;
  }
}

@media (max-width: 767px) {
  .col-left,
  .col-right {
    padding-top: 100px;
    padding-bottom: 60px;
    min-height: 0;
  }
  .col-left {
    padding-right: 0 !important;
  }
  .col-right {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 576px) {
  .col-left,
  .col-right {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .container-fluid {
    padding-right: 16px;
    padding-left: 16px;
    display: block !important;
  }
  .container {
    padding-right: 16px;
    padding-left: 16px;
  }
  .row {
    margin-right: -8px;
    margin-left: -8px;
  }
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-auto,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-auto,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-auto,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-auto,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-auto,
.col-xxl,
.col-xxl-1,
.col-xxl-2,
.col-xxl-3,
.col-xxl-4,
.col-xxl-5,
.col-xxl-6,
.col-xxl-7,
.col-xxl-8,
.col-xxl-9,
.col-xxl-10,
.col-xxl-11,
.col-xxl-12,
.col-xxl-auto {
  padding-right: 10px;
  padding-left: 10px;
}

@media (max-width: 576px) {
  .col,
  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12,
  .col-auto,
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-auto,
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-auto,
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-auto,
  .col-xl,
  .col-xl-1,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-auto,
  .col-xxl,
  .col-xxl-1,
  .col-xxl-2,
  .col-xxl-3,
  .col-xxl-4,
  .col-xxl-5,
  .col-xxl-6,
  .col-xxl-7,
  .col-xxl-8,
  .col-xxl-9,
  .col-xxl-10,
  .col-xxl-11,
  .col-xxl-12,
  .col-xxl-auto {
    padding-right: 8px;
    padding-left: 8px;
  }
}